// Base styling for text elements

// Styling for h1
h1 {
  color: $light01;
  font-size: map-get($fibonacci-spacing, spacing-4);
  margin-bottom: map-get($fibonacci-spacing, spacing-1);
}

// Styling for h2
h2 {
  color: $light01;
  font-size: map-get($fibonacci-spacing, spacing-3);
  margin-bottom: map-get($fibonacci-spacing, spacing-1);
}

// Styling for h3
h3 {
  color: $light01;
  font-size: map-get($fibonacci-spacing, spacing-2);
  margin-bottom: map-get($fibonacci-spacing, spacing-1);
}

// Styling for paragraphs
p {
  color: $light02;
  font-style: italic;
  font-size: map-get($fibonacci-spacing, spacing-3);
  margin-bottom: map-get($fibonacci-spacing, spacing-1);
}

// Styling for h4
h4 {
  color: $light01;
  font-size: map-get($fibonacci-spacing, spacing-1);
  margin-bottom: map-get($fibonacci-spacing, spacing-1);
}

// Styling for h5
h5 {
  color: $light01;
  font-size: map-get($fibonacci-spacing, spacing-0);
  margin-bottom: map-get($fibonacci-spacing, spacing-1);
}

// Styling for h6
h6 {
  color: $light01;
  font-size: map-get($fibonacci-spacing, spacing-0);
  font-weight: bold;
  margin-bottom: map-get($fibonacci-spacing, spacing-1);
}

// Styling for small text
small {
  color: $light03;
  font-size: map-get($fibonacci-spacing, spacing-0);
  display: block;
  margin-top: map-get($fibonacci-spacing, spacing-0);
}

// Styling for blockquote
blockquote {
  color: $light01;
  font-style: italic;
  border-left: 4px solid $light01;
  padding-left: map-get($fibonacci-spacing, spacing-2);
  margin: map-get($fibonacci-spacing, spacing-1) 0;
  font-size: map-get($fibonacci-spacing, spacing-2);
}

// Styling for inline code
code {
  background: $dark01;
  color: $light02;
  padding: map-get($fibonacci-spacing, spacing-0);
  border-radius: 4px;
  font-family: monospace;
}
