:root {
  --space-unit: 1rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));

  --radius-sm: .7rem;
  --radius-md: 1.12rem;
  --radius-lg: 2rem;

  --font-xxs: 0.694rem;
  --font-xs: 0.833rem;
  --font-sm: 1rem;
  --font-md: 1.2rem;
  --font-lg: 1.728rem;
  --font-xl: 2.488rem;
  --font-xxl: 2.986rem;

  /*
   * COLOR
50   Near white, subtle background tints
100  Light backgrounds, hover states
200  Borders, dividers
300  Disabled states
400  Placeholder text
500  Main brand color (usually your starting point)
600  Pressed states, hover on primary buttons
700  Strong emphasis
800  Dark backgrounds
900  Near-black, high-contrast text
950  Darkest, often used for dark mode surfaces
*/
  --primary50: oklch(0.9065 0.1862 39.43);
  --primary100: oklch(0.8165 0.1862 39.43);
  --primary200: oklch(0.7765 0.1862 39.43);
  --primary400: oklch(0.7165 0.1862 39.43);
  --primary500: oklch(0.6565 0.1862 39.43);
  --primary600: oklch(0.5665 0.1862 39.43);
  --primary700: oklch(0.5665 0.1862 39.43);
  --primary800: oklch(0.4965 0.1862 39.43);
  --primary900: oklch(0.3565 0.1862 39.43);
  /*neutrals*/
  --text: black;
  --bg: #121212;
}
