button {
  background: var(--primary400);
  padding-inline: var(--space-md);
  padding-block: var(--space-xs);
  border: none;
  border-radius: var(--radius-sm);
  font-size: var(--font-md);
  color: var(--primary900);
}
